<form action="POST" action="/new">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name"><br>
    <label for="message">Message: </label><br>
    <textarea name="message" id="message" placeholder="Enter message here..."></textarea><br>
    <input type="submit" value="submit">
</form>