<!-- the form will send a POST request to /new with the info -->
<form method="POST" action="/new">
    <label for="userName">Name: </label>
    <input type="text" id="userName" name="userName"><br>
    <label for="message">Message: </label><br>
    <textarea name="message" id="message" placeholder="Enter message here..."></textarea><br>
    <input type="submit" value="submit">
</form>