<html>
    <head>
        <title>G's Message Board</title>
    </head>
    <body>
       <h2><%= title %></h2>
       <ul>
        <% messages.forEach((message) => { %>
            <li>
                <span>User: <%= message.user %></span>
                <br>
                <span>Message: <%= message.text %></span>
                <br>
                <span>Date sent: <%= message.added %></span>
                <br>
                <!-- ADD OPEN BUTTON HERE: goes to new page, make a message TEMPLATE (INCLUDE here) and plug in above values -->
            </li>
        <% }) %>
       </ul>
       <a href="/new">New Message</a>
    </body>
</html>