<!-- TEMPLATE to view contents of each individual message -->
<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h3>User: <%= messageUser %></h3>
        <h3>Text: <%= messageText %></h3>
        <h3>Time Sent: <% timeSent %></h3>
    </body>
</html>