<!-- TEMPLATE to view contents of each individual message -->
<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="message-details">
            <h2 class="details-title">Message Details</h2>
            <div class="message-detail-box">
                <p><b>User: </b> <%= message[0].username %></p>
                <p><b>Text: </b> <%= message[0].text %></p>
                <p><b>Time Sent: </b> <%= message[0].added %></p>
            </div>
            <a href="/"><b>Back to Message Board</b></a>  
        </div>
    </body>
</html>